<ion-view view-title="<span class='icono-llave mini'></span> 1501">
	<ion-content class="acercade">
		<button class="button icon-left ion-chevron-left button-full button-calm top-button"><div class="icono-alojapp enorme" style="padding-top: 6px;"></div></button>

		<div class="space25"></div>
		<div class="logo centro">
			<img src="../img/alojapp-logo-200.png" width="120px">
		</div>
		<div class="space50"></div>
		<p class="medium centro dark">
			Hecho con <span class="icono-corazon red"></span> en Colombia <br/>
			Desarrollado por Alojapp S.A.S.
		</p>

		<div class="social centro">
			<a href="#">
			<span class="icono-facebook dark enorme"></span>
			</a>
			<a href="#">
				<span class="icono-instagram dark enorme"></span>
			</a> 
		</div>
		<div class="space50"></div>
		<p class="centro grande dark">2017</p>
	</ion-content>
</ion-view>