<ion-view view-title="<span class='icono-llave mini'></span> 1501">
	<ion-content>
		<button class="button icon-left ion-chevron-left button-full button-calm top-button"><div class="icono-engranaje grande" style="padding-top: 9px;"></div></button>
		<div class="space25"></div>
		<div class="row perfil-row">
			<div class="col-66 izquierda medium dark">
				IDIOMA
			</div>
			<div class="col-33 derecha enorme dark">
				<a href="#"><span class="icono-abajo"></span></a>
			</div>
		</div>
		<div class="space25"></div>
		<div class="row perfil-row">
			<div class="col-66 izquierda medium dark">
				HISTORIAL DE ALOJAMIENTO
			</div>
			<div class="col-33 derecha enorme dark">
				<a href="#"><span class="icono-derecha"></span></a>
			</div>
		</div>
	</ion-content>
</ion-view>