<ion-view view-title="">
    <ion-content>
        <div>
            <img src="../img/logo-hotel.png" alt="logo hotel" class="fullwidth">
        </div>
        <div class="medium centro dark">
            <span class="space25"></span>
            Señor ______ _______ <br/>
            Le damos la Bienvenida<br/>
            al Hotel Tequendama.
        </div>
        <div class="centro dark">
            <span class="space50"></span>
            <span class="icono-llave grande morado"></span> <br/>
            <span class="mini dark subrayado">SU HABITACIÓN ES:</span><br/>
            <span class="enorme morado subrayado">1501</span>
        </div>
        <div class="centro">
            <span class="space100"></span>
            <button class="button button-small button-positive" type="submit">ACEPTAR</button>
        </div>
    </ion-content> 
    <ion-footer-bar class="my-footer-bar">
        <p class="mini centro dark">

            Hecho con <span class="icono-corazon red"></span> en Colombia <br/>
            Desarrollado por Alojapp S.A.S.
        </p>
    </ion-footer-bar>
</ion-view>
