<ion-view view-title="<span class='icono-llave mini'></span> 1501">
	<ion-content class="chat">
		<hr>
		<div class="row chat-alojapp">
			<div class="col-25">
				<div class="icono-alojapp chat-avatar"></div>
			</div>
			<div class="col-75">
				<div class="chat-bubble mini">
					<div class="chat-triangle"></div>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
					<div class="chat-time">11:31 AM</div>
					
				</div>
			</div>
		</div>
		<div class="space15"></div>
		<div class="row chat-user">
			<div class="col-75">
				<div class="chat-bubble mini">
					<div class="chat-triangle"></div>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
					<div class="chat-time">11:31 AM</div>
					
				</div>
			</div>
			<div class="col-25">
				<div class="icono-usuario chat-avatar light"></div>
			</div>
		</div>
		<p class="chat-confirm mini dark">Mensaje visto<br/>11:33 am</p>
	</ion-content>

	<div class="chat-bar">
		<div class="row">
			<div class="col-25" style="padding-top: 5px;">
				<span class="icono-camara dark"></span>
			</div>
			<div class="col-75">
				<div class="row chat-left-input">
					<div class="col-80">
						<label class="item item-input chat-left-input">
							<input type="text" class="izquierda" style="padding-left: 10px;">
							<span class="input-label icono-imagenes" style="width: 20px;"></span>
						</label>
					</div>
					<div class="col-20">
						<button class="button chat-right-input"><span class="icono-derecha"></span></button>
					</div>
				</div>
				
			</div>
		</div>
		
	</div>

	<ion-footer-bar class="my-footer-bar">
		<div class="row centro footer-border">
			<div class="col">
				<a class="icono" href="#"><p class="micro subrayado">UBICACIÓN</p>
					<span class="icono-ubicacion dark enorme"></span>
					<div class="col-50 col-offset-25 inactivo"></div>
					<span class="space25"></span>
				</a>
			</div>
			<div class="col">
				<a class="icono" href="#"><p class="micro subrayado">CHAT</p>
					<span class="icono-chat dark enorme"></span>
					<div class="col-50 col-offset-25 activo"></div>
					<span class="space25"></span>
				</a>
			</div>
			<div class="col">
				<a class="icono" href="#"><p class="micro subrayado">MARKET PLACE</p>
					<span class="icono-marketplace dark enorme"></span>
					<div class="col-50 col-offset-25 inactivo"></div>
					<span class="space25"></span>
				</a>
			</div>
			<div class="col">
				<a class="icono" href="#"><p class="micro subrayado">ÓRDENES</p>
					<span class="icono-texto dark enorme"></span>
					<div class="col-50 col-offset-25 inactivo"></div>
					<span class="space25"></span>
				</a>
			</div>
			<div class="col">
				<a class="icono" href="#"><p class="micro subrayado">PERFIL</p>
					<span class="icono-usuario dark enorme"></span>
					<div class="col-50 col-offset-25 inactivo"></div>
					<span class="space25"></span>
				</a>
			</div>
		</div>
	</ion-footer-bar>
</ion-view>