<ion-view view-title="">

    <ion-content>
        <div class="logo" style="width: 150px !important;">
            <img src="../img/alojapp-logo-200.png" width="150px">
        </div>

        <div class="row">
            <div class="col-80 col-offset-10">
                <form ng-submit="doCheckIn()">
                    <div class="list">
                        <label class="item item-input">
                            <input 
                                   type="text" 
                                   name="checkin"
                                   placeholder="CÓDIGO CHECK IN" 
                                   ng-model="checkinData.codigo"
                                   required 
                                   ng-minlength="5" 
                                   ng-maxlength="20">
                        </label>
                        <label class="item">
                            <button class="button button-small button-positive right" type="submit">ACEPTAR</button>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>

    <ion-footer-bar class="my-footer-bar">
        <p class="mini centro dark">
            Hecho con <span class="icono-corazon red"></span> en Colombia <br/>
            Desarrollado por Alojapp S.A.S.
        </p>
    </ion-footer-bar>
</ion-view>
