<ion-view view-title="<span class='icono-llave mini'></span> 1501">
	<ion-content class="comparte">
		<button class="button icon-left ion-chevron-left button-full button-calm top-button"><div class="icono-compartir enorme" style="padding-top: 6px;"></div></button>
		<div class="space15"></div>

		<div class="comparte-top">
		<div class="comparte-top-in">
			<i class="icono-alojapp"></i>
		</div>
		</div>

		<div class="space15"></div>
		<div class="row perfil-row">
			<div class="col-66 izquierda medium dark">
				FACEBOOK
			</div>
			<div class="col-33 derecha enorme dark">
				<a href="#"><span class="icono-facebook"></span></a>
			</div>
		</div>
		<div class="space15"></div>
		<div class="row perfil-row">
			<div class="col-66 izquierda medium dark">
				TRIP ADVISOR
			</div>
			<div class="col-33 derecha enorme dark">
				<a href="#"><span class="icono-tripadvisor"></span></a>
			</div>
		</div>
		<div class="space15"></div>
		<div class="row perfil-row">
			<div class="col-66 izquierda medium dark">
				WHATSAPP
			</div>
			<div class="col-33 derecha enorme dark">
				<a href="#"><span class="icono-whatsapp"></span></a>
			</div>
		</div>
		<div class="space15"></div>
		<div class="row perfil-row">
			<div class="col-66 izquierda medium dark">
				MESSENGER
			</div>
			<div class="col-33 derecha enorme dark">
				<a href="#"><span class="icono-messenger"></span></a>
			</div>
		</div>
		<div class="space15"></div>
		<div class="row perfil-row">
			<div class="col-66 izquierda medium dark">
				SMS
			</div>
			<div class="col-33 derecha enorme dark">
				<a href="#"><span class="icono-sms"></span></a>
			</div>
		</div>
		<div class="space15"></div>
		<div class="row perfil-row">
			<div class="col-66 izquierda medium dark">
				MAIL
			</div>
			<div class="col-33 derecha enorme dark">
				<a href="#"><span class="icono-mail"></span></a>
			</div>
		</div>
		<div class="space15"></div>
		
	</ion-content>
</ion-view>