<ion-view view-title="<span class='icono-llave mini'></span> 1501">
	<ion-content class="historial">
		<button class="button icon-left ion-chevron-left button-full button-calm top-button">		HISTORIAL DE ALOJAMIENTO
		</button>
		<div class="space15"></div>
	</div>
	<div class="row orden">
		<div class="col-66">
			<p class="medium">orden # A673JS8FJ</p>
			<p class="mini"><span class="icon ion-record verde">&nbsp;</span> 17/05/2017 - 17:00</p>
			<p class="mini"><span class="icon ion-record rojo">&nbsp;</span> 04/06/2017 - 21:00</p>
			
		</div>
		<div class="col-33">
			<div class="logo enorme izquierda">
				<div class="icono-alojapp"></div>
			</div>
		</div>
	</div>
	<div class="space25">
	</div>

</ion-content>
</ion-view>