<ion-view view-title="Info">
    <ion-content>
        <div style="padding:15px;">
            <h1>Pantallas</h1>
            <p>Para acceder al listado de pantallas maquetadas utilice el menú de la izquierda.</p>
        </div>
    </ion-content>
</ion-view>
