<ion-view view-title="">
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="logo">
            <img src="../img/alojapp-logo-200.png">
        </div>

        <div class="row">
            <div class="col-80 col-offset-10">
                <form ng-submit="doLogin()">
                    <div class="list">
                        <label class="item item-input">
                            <span class="icono-login icono-usuarios dark"></span>
                            <input 
                                   type="text" 
                                   name="id"
                                   placeholder="ID" 
                                   ng-model="loginData.username"
                                   required 
                                   ng-minlength="5" 
                                   ng-maxlength="20">
                        </label>

                        <label class="item item-input">
                            <span class="icono-login icono-candado dark"></span>
                            <input  
                                   type="password"
                                   name="password"
                                   placeholder="CONTRASEÑA" 
                                   ng-model="loginData.password" 
                                   required 
                                   ng-minlength="5" 
                                   ng-maxlength="20">
                        </label>
                        <p class="mini derecha"><a class="light" href="#">RESTABLECER CONTRASEÑA</a></p>
                        <label class="item">
                            <button class="button button-small button-positive right" type="submit">INGRESAR</button>
                        </label>
                    </div>
                </form>
            </div>
        </div>
        <hr/>
        <p class="mini centro"><a class="light" href="#">CREA UNA CUENTA</a></p>
        <div class="footer centro">
                <a href="#"><span class="icono-facebook dark"></span></a>
                <a href="#"><span class="icono-instagram dark"></span></a> 
        </div>

    </ion-content>
    <ion-footer-bar class="my-footer-bar">
        <p class="mini centro dark">
            Hecho con <span class="icono-corazon red"></span> en Colombia <br/>
            Desarrollado por Alojapp S.A.S.
        </p>
    </ion-footer-bar>
</ion-view>