<ion-view view-title="<span class='icono-llave mini'></span> 1501">
    <ion-content>
    <div class="space25"></div>
        <div class="centro">
            <img src="../img/logo-hotel-mini.png" style="height: 80px;display: block;margin:0 auto;">
        </div>
        <div class="space15"></div>
        <p class="centro dark medium">Señor ______ _______<br/>¿qué desea ordenar?</p>
        <hr/>
        <div class="row">
            <div class="col-80 col-offset-10">
                <div class="list">
                    <label class="item item-input" style="padding-top: 0 !important; margin-top: 0 !important;">
                        <span class="icono-login icono-lupa dark"></span>
                        <input 
                        type="text" 
                        name="search"
                        placeholder="BÚSQUEDA"> 
                    </label>
                </div>
            </div>
        </div>
        
        <div class="scroll-title centro dark mini">RESTAURANTE</div>
        <ion-scroll class="scroll-horizontal" direction="x" scrollX="false">
            <div class="row row-scroll" style="width: 1500px !important">
                <div class="col-20">
                    <div class="card card-scroll">
                        <div class="item item-image">
                            <img class="img-scroll" src="../img/gris.png">
                        </div>
                        <div class="item item-divider mini derecha subrayado dark">
                            Entradas
                        </div>
                    </div>
                </div>
                <div class="col-20">
                    <div class="card card-scroll">
                        <div class="item item-image">
                            <img class="img-scroll" src="../img/gris.png">
                        </div>
                        <div class="item item-divider mini derecha subrayado dark">
                            Carnes
                        </div>
                    </div>
                </div>
                <div class="col-20">
                    <div class="card card-scroll">
                        <div class="item item-image">
                            <img class="img-scroll" src="../img/gris.png">
                        </div>
                        <div class="item item-divider mini derecha subrayado dark">
                            Pollos
                        </div>
                    </div>
                </div>
                <div class="col-20">
                    <div class="card card-scroll">
                        <div class="item item-image">
                            <img class="img-scroll" src="../img/gris.png">
                        </div>
                        <div class="item item-divider mini derecha subrayado dark">
                            Pescados
                        </div>
                    </div>
                </div>
                <div class="col-20">
                    <div class="card card-scroll">
                        <div class="item item-image">
                            <img class="img-scroll" src="../img/gris.png">
                        </div>
                        <div class="item item-divider mini derecha subrayado dark">
                            Bebidas
                        </div>
                    </div>
                </div>
            </div>
        </ion-scroll>
        <div class="space15"></div>
        <div class="scroll-title centro dark mini">CAFETERÍA</div>
        <ion-scroll class="scroll-horizontal" direction="x" scrollX="false">
            <div class="row row-scroll" style="width: 1500px !important">
                <div class="col-20">
                    <div class="card card-scroll">
                        <div class="item item-image">
                            <img class="img-scroll" src="../img/gris.png">
                        </div>
                        <div class="item item-divider mini derecha subrayado dark">
                            Entradas
                        </div>
                    </div>
                </div>
                <div class="col-20">
                    <div class="card card-scroll">
                        <div class="item item-image">
                            <img class="img-scroll" src="../img/gris.png">
                        </div>
                        <div class="item item-divider mini derecha subrayado dark">
                            Carnes
                        </div>
                    </div>
                </div>
                <div class="col-20">
                    <div class="card card-scroll">
                        <div class="item item-image">
                            <img class="img-scroll" src="../img/gris.png">
                        </div>
                        <div class="item item-divider mini derecha subrayado dark">
                            Pollos
                        </div>
                    </div>
                </div>
                <div class="col-20">
                    <div class="card card-scroll">
                        <div class="item item-image">
                            <img class="img-scroll" src="../img/gris.png">
                        </div>
                        <div class="item item-divider mini derecha subrayado dark">
                            Pescados
                        </div>
                    </div>
                </div>
                <div class="col-20">
                    <div class="card card-scroll">
                        <div class="item item-image">
                            <img class="img-scroll" src="../img/gris.png">
                        </div>
                        <div class="item item-divider mini derecha subrayado dark">
                            Bebidas
                        </div>
                    </div>
                </div>
            </div>
        </ion-scroll>
    </ion-content>

    <ion-footer-bar class="my-footer-bar">
        <div class="row centro footer-border">
            <div class="col">
                <a class="icono" href="#"><p class="micro subrayado">UBICACIÓN</p>
                    <span class="icono-ubicacion dark enorme"></span>
                    <div class="col-50 col-offset-25 inactivo"></div>
                    <span class="space25"></span>
                </a>
            </div>
            <div class="col">
                <a class="icono" href="#"><p class="micro subrayado">CHAT</p>
                    <span class="icono-chat dark enorme"></span>
                    <div class="col-50 col-offset-25 inactivo"></div>
                    <span class="space25"></span>
                </a>
            </div>
            <div class="col">
                <a class="icono" href="#"><p class="micro subrayado">MARKET PLACE</p>
                    <span class="icono-marketplace dark enorme"></span>
                    <div class="col-50 col-offset-25 activo"></div>
                    <span class="space25"></span>
                </a>
            </div>
            <div class="col">
                <a class="icono" href="#"><p class="micro subrayado">ÓRDENES</p>
                    <span class="icono-texto dark enorme"></span>
                    <div class="col-50 col-offset-25 inactivo"></div>
                    <span class="space25"></span>
                </a>
            </div>
            <div class="col">
                <a class="icono" href="#"><p class="micro subrayado">PERFIL</p>
                    <span class="icono-usuario dark enorme"></span>
                    <div class="col-50 col-offset-25 inactivo"></div>
                    <span class="space25"></span>
                </a>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
