<ion-view view-title="<span class='icono-llave mini'></span> 1501">
    <ion-content>
        <div class="row my-header" style="padding: 0">
            <div style="width: 100%">
                <button class="button icon-left ion-chevron-left button-full button-calm" style="padding: 0; margin: 0; padding-left: 10px;">ORDEN</button>
            </div>
        </div>
        <div class="space15">
        </div>
        <div class="centro">
            <span class="icono-carrito orden-icono-top"></span>
        </div>
        <hr/>
        <div class="space15">
        </div>

        <div class="row my-header" style="padding: 0">
            <div class="col-90 orden-detail-title">
                <div class="row">
                    <div class="col-25 dark">
                        <span class="orden-cant">X3</span>
                    </div>
                    <div class="col-25 dark">
                        Carne 1
                    </div>
                    <div class="col-50 dark medium">
                        $ 15.000 COP
                    </div>
                </div>
            </div>
            <div class="col-10">
                <button class="button button-small button-positive slides-button-precio" style="padding: 0;margin: 0;float: right;">X</button>
            </div>
        </div>
        <p class="orden-text mini dark">Instrucciones especiales. (Sin sal, sin cebolla, con doble salsa)</p>

        <div class="row my-header" style="padding: 0">
            <div class="col-90 orden-detail-title">
                <div class="row">
                    <div class="col-25 dark">
                        <span class="orden-cant">X2</span>
                    </div>
                    <div class="col-25 dark">
                        Carne 2
                    </div>
                    <div class="col-50 dark medium">
                        $ 15.000 COP
                    </div>
                </div>
            </div>
            <div class="col-10">
                <button class="button button-small button-positive slides-button-precio" style="padding: 0;margin: 0;float: right;">X</button>
            </div>
        </div>
        <p class="orden-text mini dark">Instrucciones especiales. (Sin sal, sin cebolla, con doble salsa)</p>

        <div class="row my-header" style="padding: 0">
            <div class="col-90 orden-detail-title">
                <div class="row">
                    <div class="col-25 dark">
                        <span class="orden-cant">X1</span>
                    </div>
                    <div class="col-25 dark">
                        Pollo 1
                    </div>
                    <div class="col-50 dark medium">
                        $ 15.000 COP
                    </div>
                </div>
            </div>
            <div class="col-10">
                <button class="button button-small button-positive slides-button-precio" style="padding: 0;margin: 0;float: right;">X</button>
            </div>
        </div>
        <p class="orden-text mini dark">Instrucciones especiales. (Sin sal, sin cebolla, con doble salsa)</p>

        <div class="space25">
        </div>

        <div class="row my-header" style="padding: 0">
            <div class="col orden-detail-title">
                <div class="row">
                    <div class="col-50 dark medium">
                        Subtotal
                    </div>
                    <div class="col-50 dark medium">
                        $ 90.000 COP
                    </div>
                </div>
            </div>
        </div>

        <div class="space15">
        </div>

        <div class="row">
            <div class="col-75 dark medium">
                ORDEN # A673JS8FJ
            </div>
            <div class="col-25">
                    <button class="button button-small button-positive" ">ACEPTAR</button>
            </div>
        </div>


    </ion-content>
    <ion-footer-bar class="my-footer-bar">
        <div class="row centro footer-border">
            <div class="col">
                <a class="icono" href="#"><p class="micro subrayado">UBICACIÓN</p>
                    <span class="icono-ubicacion dark enorme"></span>
                    <div class="col-50 col-offset-25 inactivo"></div>
                    <span class="space25"></span>
                </a>
            </div>
            <div class="col">
                <a class="icono" href="#"><p class="micro subrayado">CHAT</p>
                    <span class="icono-chat dark enorme"></span>
                    <div class="col-50 col-offset-25 inactivo"></div>
                    <span class="space25"></span>
                </a>
            </div>
            <div class="col">
                <a class="icono" href="#"><p class="micro subrayado">MARKET PLACE</p>
                    <span class="icono-marketplace dark enorme"></span>
                    <div class="col-50 col-offset-25 activo"></div>
                    <span class="space25"></span>
                </a>
            </div>
            <div class="col">
                <a class="icono" href="#"><p class="micro subrayado">ÓRDENES</p>
                    <span class="icono-texto dark enorme"></span>
                    <div class="col-50 col-offset-25 inactivo"></div>
                    <span class="space25"></span>
                </a>
            </div>
            <div class="col">
                <a class="icono" href="#"><p class="micro subrayado">PERFIL</p>
                    <span class="icono-usuario dark enorme"></span>
                    <div class="col-50 col-offset-25 inactivo"></div>
                    <span class="space25"></span>
                </a>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>