<ion-view view-title="<span class='icono-llave mini'></span> 1501">
    <ion-content>
        <div class="row my-header" style="padding: 0">
            <div class="col-75">
                <button class="button icon-left ion-chevron-left button-full button-calm top-button">CARNES</button>
            </div>
            <div class="col-25">
                <button class="button button-full button-positive" style="padding: 0;margin: 0;">ORDEN
                </button>
            </div>
        </div>
        <div class="space15">

        </div>
        <div class="centro">
            <img src="../img/logo-hotel-mini.png" style="height: 80px;display: block;margin:0 auto;">
        </div>
        <div class="row">
            <div class="col-80 col-offset-10">
                <div class="list">
                    <label class="item item-input" style="padding-top: 0 !important; margin-top: 0 !important;">
                        <span class="icono-login icono-lupa dark"></span>
                        <input 
                        type="text" 
                        name="search"
                        placeholder="BÚSQUEDA"> 
                    </label>
                </div>
            </div>
        </div>
        <div class="space25">
        </div>
        
<!-- PRODUCTO 1 -->
        <div class="card card-slide mini" style="width: 300px; margin: auto;">
            <div class="item item-divider slide-title mini">
               Carne 1
           </div>
           <ion-slide-box on-slide-changed="slideHasChanged($index)">
              <ion-slide>
               <div class="item item-image slide-image">
                <img src="../img/gris.png" width="300px" height="150px">
            </div>
        </ion-slide>
        <ion-slide>
            <div class="item item-image slide-image">
                <img src="../img/gris.png" width="300px" height="150px">
            </div>
        </ion-slide>
        <ion-slide>
           <div class="item item-image slide-image">
            <img src="../img/gris.png" width="300px" height="150px">
        </div>
    </ion-slide>
</ion-slide-box>
<div class="item item-text-wrap slide-text mini dark">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in 
</div>
<div class="row" style="margin: 0; padding: 0;">
    <div class="col-33">
        <button class="slides-button-precio button button-small button-positive">$15.000 COP
        </button>
    </div>
    <div class="col-25 col-offset-20">
        <div class="row" style="margin: 0; padding: 0;">
            <div class="col-25">
                <button class="slides-button-precio button button-small button-positive">
                    <span class="icono-arriba medium"></span>
                </button>
            </div>
            <div class="col-50 slides-cant">
                1
            </div>
            <div class="col-25">
                <button class="slides-button-precio button button-small button-positive">
                    <span class="icono-abajo medium"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-10 col-offset-10">
        <button class="slides-button-precio button button-small button-positive">
            <span class="icono-carrito medium"></span>
        </button>
    </div>
</div>
</div>
<span class="space25"></span>


<!-- PRODUCTO 2 -->
        <div class="card card-slide mini" style="width: 300px; margin: auto;">
            <div class="item item-divider slide-title mini">
               Carne 2
           </div>
           <ion-slide-box on-slide-changed="slideHasChanged($index)">
              <ion-slide>
               <div class="item item-image slide-image">
                <img src="../img/gris.png" width="300px" height="150px">
            </div>
        </ion-slide>
        <ion-slide>
            <div class="item item-image slide-image">
                <img src="../img/gris.png" width="300px" height="150px">
            </div>
        </ion-slide>
        <ion-slide>
           <div class="item item-image slide-image">
            <img src="../img/gris.png" width="300px" height="150px">
        </div>
    </ion-slide>
</ion-slide-box>
<div class="item item-text-wrap slide-text mini dark">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in 
</div>
<div class="row" style="margin: 0; padding: 0;">
    <div class="col-33">
        <button class="slides-button-precio button button-small button-positive">$15.000 COP
        </button>
    </div>
    <div class="col-25 col-offset-20">
        <div class="row" style="margin: 0; padding: 0;">
            <div class="col-25">
                <button class="slides-button-precio button button-small button-positive">
                    <span class="icono-arriba medium"></span>
                </button>
            </div>
            <div class="col-50 slides-cant">
                1
            </div>
            <div class="col-25">
                <button class="slides-button-precio button button-small button-positive">
                    <span class="icono-abajo medium"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-10 col-offset-10">
        <button class="slides-button-precio button button-small button-positive">
            <span class="icono-carrito medium"></span>
        </button>
    </div>
</div>
</div>
<span class="space25"></span>

<!-- PRODUCTO 3 -->
        <div class="card card-slide mini" style="width: 300px; margin: auto;">
            <div class="item item-divider slide-title mini">
               Carne 3
           </div>
           <ion-slide-box on-slide-changed="slideHasChanged($index)">
              <ion-slide>
               <div class="item item-image slide-image">
                <img src="../img/gris.png" width="300px" height="150px">
            </div>
        </ion-slide>
        <ion-slide>
            <div class="item item-image slide-image">
                <img src="../img/gris.png" width="300px" height="150px">
            </div>
        </ion-slide>
        <ion-slide>
           <div class="item item-image slide-image">
            <img src="../img/gris.png" width="300px" height="150px">
        </div>
    </ion-slide>
</ion-slide-box>
<div class="item item-text-wrap slide-text mini dark">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in 
</div>
<div class="row" style="margin: 0; padding: 0;">
    <div class="col-33">
        <button class="slides-button-precio button button-small button-positive">$15.000 COP
        </button>
    </div>
    <div class="col-25 col-offset-20">
        <div class="row" style="margin: 0; padding: 0;">
            <div class="col-25">
                <button class="slides-button-precio button button-small button-positive">
                    <span class="icono-arriba medium"></span>
                </button>
            </div>
            <div class="col-50 slides-cant">
                1
            </div>
            <div class="col-25">
                <button class="slides-button-precio button button-small button-positive">
                    <span class="icono-abajo medium"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-10 col-offset-10">
        <button class="slides-button-precio button button-small button-positive">
            <span class="icono-carrito medium"></span>
        </button>
    </div>
</div>
</div>
<span class="space25"></span>

</ion-content>
<ion-footer-bar class="my-footer-bar">
    <div class="row centro footer-border">
        <div class="col">
            <a class="icono" href="#"><p class="micro subrayado">UBICACIÓN</p>
                <span class="icono-ubicacion dark enorme"></span>
                <div class="col-50 col-offset-25 inactivo"></div>
                <span class="space25"></span>
            </a>
        </div>
        <div class="col">
            <a class="icono" href="#"><p class="micro subrayado">CHAT</p>
                <span class="icono-chat dark enorme"></span>
                <div class="col-50 col-offset-25 inactivo"></div>
                <span class="space25"></span>
            </a>
        </div>
        <div class="col">
            <a class="icono" href="#"><p class="micro subrayado">MARKET PLACE</p>
                <span class="icono-marketplace dark enorme"></span>
                <div class="col-50 col-offset-25 activo"></div>
                <span class="space25"></span>
            </a>
        </div>
        <div class="col">
            <a class="icono" href="#"><p class="micro subrayado">ÓRDENES</p>
                <span class="icono-texto dark enorme"></span>
                <div class="col-50 col-offset-25 inactivo"></div>
                <span class="space25"></span>
            </a>
        </div>
        <div class="col">
            <a class="icono" href="#"><p class="micro subrayado">PERFIL</p>
                <span class="icono-usuario dark enorme"></span>
                <div class="col-50 col-offset-25 inactivo"></div>
                <span class="space25"></span>
            </a>
        </div>
    </div>
</ion-footer-bar>
</ion-view>