<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Páginas</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close href="#/app/info">
                    Info
                </ion-item>
                <ion-item menu-close ng-click="login()">
                    Login
                </ion-item>
                <ion-item menu-close href="#/app/registro">
                    Registro
                </ion-item>
                <ion-item menu-close href="#/app/registro2">
                    Registro 2
                </ion-item>
                <ion-item menu-close href="#/app/checkin">
                    Check In
                </ion-item>
                <ion-item menu-close href="#/app/bienvenidos">
                    Bienvenidos
                </ion-item>
                <ion-item menu-close href="#/app/marketplace">
                    Marketplace
                </ion-item>
                <ion-item menu-close href="#/app/marketplace2">
                    Marketplace 2
                </ion-item>
                <ion-item menu-close href="#/app/marketplace3">
                    Marketplace 3
                </ion-item>
                <ion-item menu-close href="#/app/chat">
                    Chat
                </ion-item>
                <ion-item menu-close href="#/app/ordenes">
                    Órdenes
                </ion-item>
                <ion-item menu-close href="#/app/ordenes2">
                    Órdenes 2
                </ion-item>
                <ion-item menu-close href="#/app/perfil">
                    Perfil
                </ion-item>
                <ion-item menu-close href="#/app/perfil2">
                    Perfil 2
                </ion-item>
                <ion-item menu-close href="#/app/ajustes">
                    Ajustes
                </ion-item>
                <ion-item menu-close href="#/app/comparte">
                    Comparte
                </ion-item>
                <ion-item menu-close href="#/app/historial">
                    Historial
                </ion-item>
                <ion-item menu-close href="#/app/acercade">
                    Acerca de Alojapp
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
