<ion-view view-title="<span class='icono-llave mini'></span> 1501">
	<ion-content>
		<hr>
		<div class="space15">
		</div>
		<div class="row orden">
			<div class="col-66">
				<p class="medium">orden # A673JS8FJ</p>
				<p class="mini">17/05/2017 - 17:00</p>
				<p class="orden-status"><span class="recibida"></span></p>
			</div>
			<div class="col-33">
				<p class="medium derecha">$ 90.000 COP</p>
				<p class="enorme derecha"><a href="#"><span class="icono-abajo derecha"></a></span></p>
			</div>
		</div>
		<div class="space25">
		</div>
		<div class="row orden">
			<div class="col-66">
				<p class="medium">orden # A673JS8FJ</p>
				<p class="mini">17/05/2017 - 17:00</p>
				<p class="orden-status"><span class="finalizada"></span></p>
			</div>
			<div class="col-33">
				<p class="medium derecha">$ 90.000 COP</p>
				<p class="enorme derecha"><a href="#"><span class="icono-abajo derecha"></a></span></p>
			</div>
		</div>
		<div class="space25">
		</div>
		<div class="row orden">
			<div class="col-66">
				<p class="medium">orden # A673JS8FJ</p>
				<p class="mini">17/05/2017 - 17:00</p>
				<p class="orden-status"><span class="encamino"></span></p>
			</div>
			<div class="col-33">
				<p class="medium derecha">$ 90.000 COP</p>
				<p class="enorme derecha"><a href="#"><span class="icono-abajo derecha"></a></span></p>
			</div>
		</div>
		<div class="space25">
		</div>
		<div class="row orden">
			<div class="col-66">
				<p class="medium">orden # A673JS8FJ</p>
				<p class="mini">17/05/2017 - 17:00</p>
				<p class="orden-status"><span class="cancelada"></span></p>
			</div>
			<div class="col-33">
				<p class="medium derecha">$ 90.000 COP</p>
				<p class="enorme derecha"><a href="#"><span class="icono-abajo derecha"></a></span></p>
			</div>
		</div>
	</ion-content>

	<ion-footer-bar class="my-footer-bar">
		<div class="row centro footer-border">
			<div class="col">
				<a class="icono" href="#"><p class="micro subrayado">UBICACIÓN</p>
					<span class="icono-ubicacion dark enorme"></span>
					<div class="col-50 col-offset-25 inactivo"></div>
					<span class="space25"></span>
				</a>
			</div>
			<div class="col">
				<a class="icono" href="#"><p class="micro subrayado">CHAT</p>
					<span class="icono-chat dark enorme"></span>
					<div class="col-50 col-offset-25 inactivo"></div>
					<span class="space25"></span>
				</a>
			</div>
			<div class="col">
				<a class="icono" href="#"><p class="micro subrayado">MARKET PLACE</p>
					<span class="icono-marketplace dark enorme"></span>
					<div class="col-50 col-offset-25 inactivo"></div>
					<span class="space25"></span>
				</a>
			</div>
			<div class="col">
				<a class="icono" href="#"><p class="micro subrayado">ÓRDENES</p>
					<span class="icono-texto dark enorme"></span>
					<div class="col-50 col-offset-25 activo"></div>
					<span class="space25"></span>
				</a>
			</div>
			<div class="col">
				<a class="icono" href="#"><p class="micro subrayado">PERFIL</p>
					<span class="icono-usuario dark enorme"></span>
					<div class="col-50 col-offset-25 inactivo"></div>
					<span class="space25"></span>
				</a>
			</div>
		</div>
	</ion-footer-bar>
</ion-view>