<ion-view view-title="<span class='icono-llave mini'></span> 1501">
	<ion-content>
		<div class="perfil">
			<div class="space25"></div>
			<div class="icono-usuario avatar"></div>
			<div class="space15"></div>
			<p class="medium dark centro">NOMBRE APELLIDO</p>
			<p class="centro medium mas"><a class="icono-mas"></a></p>
		</div>
		<div class="space50"></div>
		<div class="row perfil-row">
			<div class="col-33 izquierda grande dark">
				<span class="icono-engranaje"></span>
			</div>
			<div class="col-66 derecha medium dark">
				AJUSTES
			</div>
		</div>
		<div class="space50"></div>
		<div class="row perfil-row">
			<div class="col-33 izquierda grande dark">
				<span class="icono-compartir"></span>
			</div>
			<div class="col-66 derecha medium dark">
				COMPARTE
			</div>
		</div>
		<div class="space50"></div>
		<div class="row perfil-row">
			<div class="col-33 izquierda grande dark">
				<span class="icono-alojapp"></span>
			</div>
			<div class="col-66 derecha medium dark">
				ACERCA DE ALOJAPP
			</div>
		</div>
		<div class="space50"></div>
		<p class="mini centro dark">
			Hecho con <span class="icono-corazon red"></span> en Colombia <br/>
			Desarrollado por Alojapp S.A.S.
		</p>

	</ion-content>

	<ion-footer-bar class="my-footer-bar">
		<div class="row centro footer-border">
			<div class="col">
				<a class="icono" href="#"><p class="micro subrayado">UBICACIÓN</p>
					<span class="icono-ubicacion dark enorme"></span>
					<div class="col-50 col-offset-25 inactivo"></div>
					<span class="space25"></span>
				</a>
			</div>
			<div class="col">
				<a class="icono" href="#"><p class="micro subrayado">CHAT</p>
					<span class="icono-chat dark enorme"></span>
					<div class="col-50 col-offset-25 inactivo"></div>
					<span class="space25"></span>
				</a>
			</div>
			<div class="col">
				<a class="icono" href="#"><p class="micro subrayado">MARKET PLACE</p>
					<span class="icono-marketplace dark enorme"></span>
					<div class="col-50 col-offset-25 inactivo"></div>
					<span class="space25"></span>
				</a>
			</div>
			<div class="col">
				<a class="icono" href="#"><p class="micro subrayado">ÓRDENES</p>
					<span class="icono-texto dark enorme"></span>
					<div class="col-50 col-offset-25 inactivo"></div>
					<span class="space25"></span>
				</a>
			</div>
			<div class="col">
				<a class="icono" href="#"><p class="micro subrayado">PERFIL</p>
					<span class="icono-usuario dark enorme"></span>
					<div class="col-50 col-offset-25 activo"></div>
					<span class="space25"></span>
				</a>
			</div>
		</div>
	</ion-footer-bar>
</ion-view>