<ion-view view-title="">
    <ion-content>
        <form ng-submit="doRegister()">
            <div class="row">
                <div class="col-80 col-offset-10">

                    <div class="list">
                        <label class="item item-input">
                            <input 
                                   type="text" 
                                   name="nombres"
                                   placeholder="LOREM IPSUM" 
                                   ng-model="RegisterData.nombres"
                                   required 
                                   ng-minlength="5" 
                                   ng-maxlength="20">
                        </label>
                        <label class="item item-input">
                            <input 
                                   type="text" 
                                   name="nombres"
                                   placeholder="LOREM IPSUM" 
                                   ng-model="RegisterData.nombres"
                                   required 
                                   ng-minlength="5" 
                                   ng-maxlength="20">
                        </label>
                        <label class="item item-input">
                            <input 
                                   type="text" 
                                   name="nombres"
                                   placeholder="LOREM IPSUM" 
                                   ng-model="RegisterData.nombres"
                                   required 
                                   ng-minlength="5" 
                                   ng-maxlength="20">
                        </label>
                        <label class="item item-input">
                            <input 
                                   type="text" 
                                   name="nombres"
                                   placeholder="LOREM IPSUM" 
                                   ng-model="RegisterData.nombres"
                                   required 
                                   ng-minlength="5" 
                                   ng-maxlength="20">
                        </label>
                    </div>
                </div>
            </div>
            <hr style="margin-top:50px;"/>
            <div class="row">
                <div class="col-80 col-offset-10">
                    <div class="list">
                        <label class="item item-input">

                            <input 
                                   type="text" 
                                   name="pais"
                                   placeholder="LOREM" 
                                   ng-model="RegisterData.pais"
                                   required 
                                   ng-minlength="5" 
                                   ng-maxlength="20">
                            <input 
                                   type="text" 
                                   name="ciudad"
                                   placeholder="IPSUM" 
                                   ng-model="RegisterData.ciudad"
                                   required 
                                   ng-minlength="5" 
                                   ng-maxlength="20">
                        </label>
                        <label class="item item-input">
                            <div class="col-20">
                                <input 
                                       type="text" 
                                       name="ciudad"
                                       placeholder="+57" 
                                       ng-model="RegisterData.codigo"
                                       required 
                                       ng-minlength="5" 
                                       ng-maxlength="20">
                            </div>
                            <div class="col-80">
                                <input 
                                       type="text" 
                                       name="celular"
                                       placeholder="### ### ## ##" 
                                       ng-model="RegisterData.celular"
                                       required 
                                       ng-minlength="5" 
                                       ng-maxlength="20">
                            </div>
                        </label>
                        <label class="item item-input">
                            <input 
                                   type="text" 
                                   name="direccion"
                                   placeholder="LOREM IPSUM" 
                                   ng-model="RegisterData.direccion"
                                   required 
                                   ng-minlength="5" 
                                   ng-maxlength="20">
                        </label>
                        <label class="item" style="padding-top:30px;">
                            <span style="float:right;">
                                <span class="mini right" style="padding-top:20px;">
                                    <a href="#" class="lihgt">EDITAR</a>
                                </span>
                                <button class="button button-small button-positive right" type="submit" style="margin-left:15px;">ACEPTAR</button>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>

