<ion-view view-title="">
    <ion-content>
        <form ng-submit="doRegister()">
            <div class="row">
                <div class="col-80 col-offset-10">

                    <div class="list">
                        <label class="item item-input">
                            <input 
                                   type="text" 
                                   name="nombres"
                                   placeholder="NOMBRES" 
                                   ng-model="RegisterData.nombres"
                                   required 
                                   ng-minlength="5" 
                                   ng-maxlength="20">
                        </label>
                        <label class="item item-input">
                            <input 
                                   type="text" 
                                   name="apellidos"
                                   placeholder="APELLIDOS" 
                                   ng-model="RegisterData.apellidos"
                                   required 
                                   ng-minlength="5" 
                                   ng-maxlength="20">
                        </label>
                        <label class="item item-input">
                            <input 
                                   type="text" 
                                   name="id"
                                   placeholder="ID" 
                                   ng-model="RegisterData.id"
                                   required 
                                   ng-minlength="5" 
                                   ng-maxlength="20">
                        </label>
                        <label class="item item-input">
                            <input 
                                   type="email" 
                                   name="correo"
                                   placeholder="CORREO" 
                                   ng-model="RegisterData.correo"
                                   required 
                                   ng-minlength="5" 
                                   ng-maxlength="20">
                        </label>
                    </div>
                </div>
            </div>
            <hr style="margin-top:50px;"/>
            <div class="row">
                <div class="col-80 col-offset-10">
                    <div class="list">
                        <label class="item item-input">

                            <input 
                                   type="text" 
                                   name="pais"
                                   placeholder="PAÍS" 
                                   ng-model="RegisterData.pais"
                                   required 
                                   ng-minlength="5" 
                                   ng-maxlength="20">
                            <input 
                                   type="text" 
                                   name="ciudad"
                                   placeholder="CIUDAD" 
                                   ng-model="RegisterData.ciudad"
                                   required 
                                   ng-minlength="5" 
                                   ng-maxlength="20">
                        </label>
                        <label class="item item-input">
                            <div class="col-20">
                                <span class="icono-abajo icon-select dark"></span>
                                <select class="phone-select">
                                    <option selected>+57</option>
                                    <option >+58</option>
                                    <option>+59</option>
                                </select>
                            </div>
                            <div class="col-80">
                                <input 
                                       type="text" 
                                       name="celular"
                                       placeholder="CELULAR" 
                                       ng-model="RegisterData.celular"
                                       required 
                                       ng-minlength="5" 
                                       ng-maxlength="20">
                            </div>
                        </label>
                        <label class="item item-input">
                            <input 
                                   type="text" 
                                   name="direccion"
                                   placeholder="DIRECCION" 
                                   ng-model="RegisterData.direccion"
                                   required 
                                   ng-minlength="5" 
                                   ng-maxlength="20">
                        </label>
                        <label class="item" style="padding-top:30px;">
                            <span class="mini left"><a href="#" class="lihgt">INFORME</a></span>
                            <span class="mini center" style="padding-left:50px;"><a href="#" class="lihgt">LIMPIAR</a></span>
                            <button class="button button-small button-positive right" type="submit">ACEPTAR</button>
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>

