/*Fuentes*/
@font-face {
    font-family: 'Geomanist-regular'; 
    src: url('../fonts/Geomanist-Regular.otf'); 
}
@font-face {
    font-family: 'Geomanist-italic'; 
    src: url('../fonts/Geomanist-Regular-Italic.otf'); 
}
@font-face {
    font-family: 'Alojapp-icon-Font';
    src:  url('../fonts/Alojapp-icon-Font.eot?2ulh16');
    src:  url('../fonts/Alojapp-icon-Font.eot?2ulh16#iefix') format('embedded-opentype'),
    url('../fonts/Alojapp-icon-Font.ttf?2ulh16') format('truetype'),
    url('../fonts/Alojapp-icon-Font.woff?2ulh16') format('woff'),
    url('../fonts/Alojapp-icon-Font.svg?2ulh16#Alojapp-icon-Font') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Iconos*/
[class^="icono-"], [class*=" icono-"] {
    font-family: 'Alojapp-icon-Font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}
[class^="icono-"], [class*=" icono-"] {
    text-decoration: none !important;
}

.icono-alojapp:before {
    content: "\e900";
}
.icono-camara:before {
    content: "\e901";
}
.icono-chat:before {
    content: "\e902";
}
.icono-abajo:before {
    content: "\e903";
}
.icono-izquierda:before {
    content: "\e904";
}
.icono-derecha:before {
    content: "\e905";
}
.icono-arriba:before {
    content: "\e906";
}
.icono-mas:before {
    content: "\e907";
}
.icono-engranaje:before {
    content: "\e908";
}
.icono-facebook:before {
    content: "\e909";
}
.icono-marketplace:before {
    content: "\e90a";
}
.icono-corazon:before {
    content: "\e90b";
}
.icono-imagenes:before {
    content: "\e90c";
}
.icono-instagram:before {
    content: "\e90d";
}
.icono-llave:before {
    content: "\e90e";
}
.icono-ubicacion:before {
    content: "\e90f";
}
.icono-candado:before {
    content: "\e910";
}
.icono-lupa:before {
    content: "\e911";
}
.icono-mail:before {
    content: "\e912";
}
.icono-messenger:before {
    content: "\e913";
}
.icono-compartir:before {
    content: "\e914";
}
.icono-carrito:before {
    content: "\e915";
}
.icono-sms:before {
    content: "\e916";
}
.icono-texto:before {
    content: "\e917";
}
.icono-tripadvisor:before {
    content: "\e918";
}
.icono-usuario:before {
    content: "\e919";
}
.icono-usuarios:before {
    content: "\e91a";
}
.icono-whatsapp:before {
    content: "\e91b";
}

/*Colores*/
.dark {
    color: #808080 !important;
}
.light {
    color: #B3B3B3 !important;
}
.red {
    color: #E84230 !important;
}
.morado {
    color: #7600BF !important;
}

/*Alineaciones*/
.derecha {
    text-align: right !important;
}
.izquierda {
    text-align: left !important;
}
.centro {
    text-align: center !important;
}

/*Tamanos*/
.micro {
    font-size: 8px;
    line-height: 10px;
    padding: 0 !important;
    margin-bottom: 5px !important;
}
.mini {
    font-size: 12px;
    line-height: 14px;
}
.medium {
    font-size: 16px;
    line-height: 19px;
}
.grande {
    font-size: 22px;
    line-height: 24px;
}
.enorme {
    font-size: 28px;
    line-height: 28px;
}

/*Otros*/
.subrayado {
    text-decoration: underline;
}

/*Espacios*/
.space15 {
    display: block;
    height: 15px;
}
.space25 {
    display: block;
    height: 25px;
}
.space50 {
    display: block;
    height: 50px;
}
.space100 {
    display: block; 
    height: 100px;
}

* {
    font-family: 'Geomanist-regular';
}
hr{
    border: 1px solid #ddd;
    width: 90%;
}
a:hover {
    color: #00d5ff !important;
}
a:link, a:visited {
    color: #b3b3b3 !important;
}
.header-item .button:before {
    vertical-align: top !important;
    font-size: 17px !important;
    line-height: 10px !important;
    color: white !important;
}
.bar-header{
  height: 25px;
}
.has-header{
  top:25px;
}
.has-footer {
 bottom: 65px;
}
ion-header-bar, .bar.bar-header{
    height: 25px;
    background: #7600c0;
    background: -moz-linear-gradient(-45deg, #7403C1 0%, #3870E1 50%, #00d5ff 100%) !important;
    background: -webkit-linear-gradient(-45deg, #7403C1 0%, #3870E1 50%, #00d5ff 100%) !important;
    background: linear-gradient(135deg, #7403C1 0%, #3870E1 50%, #00d5ff 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7403C1', endColorstr='#00d5ff',GradientType=1 ); 
    background-size: cover;
}
.title {
    color: white !important;
    padding: 0 !important;
    margin: 0 !important;
    line-height: 20px !important;
    top: 4px !important;
    font-size: 17px !important;
    text-align: center !important;
}
.header-item.title-left{
    left: 0 !important;
}
.logo{
    margin: 0 auto;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 0px;
}
input {
    text-align: center;
    font-size: 15px !important;
    border-width:0px 0px 1px 0px !important;
    border-style:solid !important;
    border-color:#B3B3B3 !important;
}
.item-input {
    padding-top: 20px !important;
}
input[type="password"] {
    margin-top: 10px !important;
} 
input:before, input:after{
    transition: 0.2s ease all;
}
input:focus {
    border-width:0px 0px 1px 0px !important;
    border-style:solid !important;
    border-color:#00d5ff !important;
}
.phone-select{
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 10px;
    -webkit-appearance: none;
}
.icon-select {
    position: absolute;
    font-size: 25px;
}

.button-positive {
    font-size: 15px;
    padding: 0 10px;
    background-color: #00d5ff !important;
}
.button-calm {
    background-color: #f2f2f2 !important;
    color: #808080 !important;
}
.button-positive.right{
    float: right;
}
.top-button{
    padding: 0 !important;
    margin: 0 !important; 
    padding-left: 10px !important;
    padding-right: 15px !important;
}
.item {
    border: 00 solid !important;
}
.icono-login {
    font-size: 28px;
    padding-right: 15px;
}
.footer {
    padding-top: 16px;
}
.footer a {
    text-decoration: none;
}
.footer a [class^="icono-"],
.footer a [class*=" icono-"]{
    font-size: 20px !important;
    padding-left: 8px;
    padding-right: 8px;
}
.my-footer-bar {
    background-size: 0px !important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.fullwidth {
    width: 100% !important;
}
.activo{
    display: block;
    height: 3px;
    background-color: #7600BF;
}
.inactivo{
    display: block;
    height: 3px;
    background-color: #fff;
}
a.icono {
    text-decoration: none;
}

.my-header {
    background-color: #f2f2f2;
}
.scroll-horizontal{
    background-color: #f2f2f2 !important;
}
.row-scroll{
    min-width:1000px;
    background-color: #f2f2f2;
}
.scroll-title{
    background-color: #f2f2f2;
    padding-top: 5px;
}
.card-scroll{
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.img-scroll{
    width: 300px;
    height: 120px;
}
.card-scroll .item-divider{
    background-color: #f2f2f2; !important;
    padding-right: 0 !important;
}
.card-slide{
    border-radius: 0;
    box-shadow: none;
}
.slide-title{
    background-color: #f2f2f2;
    color: #808080;
    padding-left: 10px;
}
.slide-text {
    padding: 0;
    padding-top: 5px;
    text-align: justify;
}
.slides-button-precio {
    margin: 0;
    margin-top: 8px;     
    padding: 0px;
    padding-left: 5px !important;
    padding-right: 5px !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    font-size: 13px !important;
}
.slides-cant {
    color:  #00D5FF;
    text-align: center;
    font-size:  23px;
    padding-left: 10px;
    padding-top: 15px !important;
}
.slider-pager {
    bottom: 0;
}
.orden-cant {
    background-color: #D1D1D1 !important;
    padding: 2px;
}
.orden-icono-top {
    color:  #00D5FF;
    font-size: 60px;
}
.orden-detail-title{
    background-color:   #f2f2f2;
}
.orden-text{
    padding: 8px;
    margin-bottom: 15px;

}
.chat-avatar{
    height: 50px;
    width: 50px !important;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
    color: white;
    padding-top: 5px;
}
.chat-alojapp .chat-avatar{
    background: #7600c0;
    background: -moz-linear-gradient(45deg, #7403C1 0%, #3870E1 50%, #00d5ff 100%) !important;
    background: -webkit-linear-gradient(45deg, #7403C1 0%, #3870E1 50%, #00d5ff 100%) !important;
    background: linear-gradient(45deg, #7403C1 0%, #3870E1 50%, #00d5ff 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7403C1', endColorstr='#00d5ff',GradientType=1 ); 
    margin-left: 10px;
    font-size: 35px;
}
.chat-user .chat-avatar{
    background-color: #808080;
    background-size: cover;
    font-size: 45px;
    padding-top: 5px;
    float: right;
    margin-right: 10px;
    overflow: hidden;
}
.chat-bubble {
    width: 95%;
    color: white;
    border-radius: 4px;
    padding: 8px;
    position: relative;
    top: 0px;
    left: 0px;
}
.chat-alojapp .chat-bubble {
    background-color: #00D5FF;
}
.chat-user .chat-bubble {
    background-color: #7600C0;
    margin-left: 10px;
}
.chat-time {
    color: rgba(255,255,255,.7);
    text-align: right;
}
.chat-triangle {
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 5px;
    top:12px;
    transform: rotate(135deg) skew(15deg, 15deg);

}
.chat-alojapp .chat-triangle {
    background-color: #00D5FF;
    left: -9px;
}
.chat-user .chat-triangle {
    background-color: #7600C0;
    right: -9px !important;
}
.chat-confirm {
    text-align: center;
    text-transform: uppercase;
    padding-top: 5px;
}
.chat-bar {
    position: fixed;
    bottom:64px;
    background-color: #E6E6E6;
    width: 100%;
    height: 42px;
    margin:0 !important;
    padding: 0 !important;
    border-bottom-width: 1px;
    border-bottom-color: #808080;
    border-bottom-style: solid;
}
.chat-bar .icono-camara{
    font-size: 20px;
    padding-left: 15px;
    padding-top: 10px;
}
label.chat-left-input {
    margin:0;
    padding: 0 !important;
    height: 25px;
}
.row.chat-left-input {
    margin:0;
    padding: 0;
}
.col-80 .chat-left-input {
    margin-top: 3px !important;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.chat-right-input {
    background-color: white !important;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    min-height: 25px !important;
    height: 25px;
    padding: 0 !important;
    margin-left: 0px;
    width: 40px;
    min-width: 40px;
    font-size: 25px;
    margin-top: 3px;
    position: relative;
    border-left-color: #7600C0;
    border-left-width: 2px;
    border-left-style: solid;
}
.chat-right-input .icono-derecha {
    position: absolute;
    top: 0px;
    left: 2px;
}

.orden.row {
    background-color: #E6E6E6;
    color: #808080;
    padding-left: 10px;
    padding-right: 10px;
}
.orden p {
    text-transform: uppercase;
    margin-bottom: 0;
}
.orden a {
    text-decoration: none;
}
.orden-status {
    margin-top: 5px;
}
.orden-status span {
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 3px;
}
.orden-status .recibida:before {
    content: "Recibida";
}
.orden-status .recibida {
    background-color: #00D5FF;
    color: white;
}
.orden-status .finalizada:before {
    content: "Finalizada";
}
.orden-status .finalizada {
    background-color: #2ED069;
    color: white;
}
.orden-status .encamino:before {
    content: "En camino";
}
.orden-status .encamino {
    background-color: #F7E041;
    color: #808080;
}
.orden-status .cancelada:before {
    content: "Cancelada";
}
.orden-status .cancelada {
    background-color: #F84339;
    color: white;
}
.row.orden-detalle {
    padding-top: 15px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.perfil .avatar{
    border-radius: 50px;
    background-color: #808080;
    color: #f2f2f2;
    background-size: cover;
    font-size: 100px;
    margin: auto;
    overflow: hidden;
    width: 100px;
    height: 100px;
}
.perfil .mas, .perfil .mas a {
    color: white;
    background-color: #00D5FF;
    width: 20px;
    height: 20px;
    margin: auto;
    padding-top: 2px;
    padding-left: 1px;
    text-decoration: none;
}
.perfil-row {
    padding-left: 5px;
    padding-right: 5px;
    border-bottom-style: solid;
    border-bottom-color: #808080;
    border-bottom-width: 1px;
    width: 90%;
    margin: auto;
}
.perfil-row a {
    text-decoration: none;
    color: #808080;
}
.acercade a {
    text-decoration: none;
}
.acercade .social a {
    padding: 20px;
}
.acercade .social  {
    padding: 50px;
}
.comparte-top {
    width:90%;
    background-color: #f2f2f2;
    height: 180px;
    margin: 0 auto;
    position: relative;
}
.comparte-top-in {
    position: absolute;
    width:100px;
    height: 100px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    background: #7600c0;
    background: -moz-linear-gradient(45deg, #7403C1 0%, #3870E1 50%, #00d5ff 100%) !important;
    background: -webkit-linear-gradient(45deg, #7403C1 0%, #3870E1 50%, #00d5ff 100%) !important;
    background: linear-gradient(45deg, #7403C1 0%, #3870E1 50%, #00d5ff 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7403C1', endColorstr='#00d5ff',GradientType=1 ); 
    background-size: cover;
}
.comparte-top-in i {
    font-size: 60px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -28px;
}
.historial .verde {
    color: #2ED069;
}
.historial .rojo {
    color: #F84339;
}
.historial .logo {
    position: relative;
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 8px;  
    background: #7600c0;
    background: -moz-linear-gradient(45deg, #7403C1 0%, #3870E1 50%, #00d5ff 100%) !important;
    background: -webkit-linear-gradient(45deg, #7403C1 0%, #3870E1 50%, #00d5ff 100%) !important;
    background: linear-gradient(45deg, #7403C1 0%, #3870E1 50%, #00d5ff 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7403C1', endColorstr='#00d5ff',GradientType=1 ); 
    background-size: cover;
}
.historial .logo .icono-alojapp {
    position: absolute;
    color: white;
    top:11px;
    left:11px;
}
.footer-border {
    border-top: solid 1px #808080;
    padding: 0;
    padding-top: 1px;
}
